body {
    margin: 0%;
    bottom: 0%;
    text-align: center;
    background-color: black;
}

footer {
    background-color: black;
    font-family: sans-serif;
    text-align: center;
    text-align: center;

}