body {
    margin: 0%;
}
header {
    text-align: center;
    background-color: black;
}
.anav {
    color: white;
    text-decoration: none;
    display: block;
    font-family:sans-serif;
    text-align:center;
}
.logo {
    width: 64px;
    height: 64px;
    margin-top: 5px;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
}
ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding-left: 0%;
}
li {
    margin-left: 50px;
    text-align: center;
    padding: 10px;
}
li:hover {
    background-color: rgb(199, 79, 255);
    border-radius: 5px;
}

#menu {
    margin: 0;
}