body {
    background-color:whitesmoke;
    margin: 0%;
}
header {
    text-align: center;
    background-color: black;
}
.anav {
    color: white;
    text-decoration: none;
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
}
.logo {
    width: 64px;
    height: 64px;
    margin-top: 5px;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
}
ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding-left: 0%;
}