div{
    padding: 10px;
    flex-direction: column;
    display: flex;
    width:30%;
    margin: auto;
}
h1{
    padding: 10px;
    flex-direction: column;
    display: flex;
    width:30%;
    margin: auto;
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
}
body{
    background-color: rgb(255, 255, 255);
    margin: 0%;
}
#botao{
    background-color: rgb(168, 109, 224);
    padding-top: 10px;
    margin-top: 20px;
}
#botao:hover{
    background-color: blueviolet;
}
label{
    font-family: sans-serif;
}