div{
    padding: 10px;
    flex-direction: column;
    display: flex;
    width:30%;
    margin: auto;
}
h1{
    padding: 10px;
    flex-direction: column;
    display: flex;
    width:30%;
    margin: auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
 
}
body{
    background-color: rgb(255, 255, 255);
    margin: 0%;
}
#botao{
    background-color: rgb(168, 109, 224);
    padding: 20px;
}
#botao:hover{
    background-color: blueviolet;
}