body{
    font-family:'verdana'}
    
    #bolota {
    display: flex;
}
.carddrink {
    border-left: 25px solid rgb(128, 55, 128);
    border-radius: 10px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    display: flex;
    width: 60%;
}
.imagemdrink{
    width: 250px;
    height: 155px;
}